@charset "UTF-8";

html, body {
  height: 100%;
}

body{
  font-size:15px;
  font-family: Helvetica Neue,Helvetica,YuGothic,Yu Gothic,'ヒラギノ角ゴ Pro W3',Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳＰゴシック",sans-serif
}

/* 一括で全ての要素の余白をゼロに指定 */
* {
  padding: 0;
  margin: 0;
}


/*フォントについて*/

a:link {
  font-size:14px;
  color: #888;
  text-decoration: none;
}

a:visited {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #BBB;
  text-decoration: none;
}

#infowindow{
  font-style: 'ヒラギノ角ゴ Pro W3',Hiragino Kaku Gothic Pro;
}

#img{
  width:98%;
  width:-webkit-calc(100%-5px);
}
